In [ ]:
import pandas as pd
import numpy as np
df = pd.read_csv("diamonds.csv",nrows=10)
df

In [ ]:
df.drop("Unnamed: 0",axis=1,inplace=True)

In [ ]:
df

### Sorting data frames

1. sort by indices -->sort_index()
2. sort by values -->sort_values()

In [ ]:
#Ascending order
df.sort_index(axis=0)

In [ ]:
#Descending order
df.sort_index(axis=0,ascending=False)

In [ ]:
df.sort_values(by='price',ascending=False)

In [ ]:
df.sort_values(by='price',ascending=True)

In [ ]:
df.sort_values(by=['price','depth'],ascending=False)

### Subsetting Rows Based on Conditions

In [ ]:
df.price > 335

In [ ]:
df.price >= 335

In [ ]:
df.loc[df.price >= 335]

In [ ]:
# x>3 ,y>3 and z>2.5
df.loc[(df["x"]>=3)&(df["y"]>3)&(df["z"]>2.5)]

In [ ]:
df.loc[(df.x>3)&(df.y>3)&(df.z>2.5)]

In [ ]:
df

In [ ]:
cut_type = ["Premium","Fair"]
df.loc[(df['cut']=='Premium') | (df['cut']=='Fair')]

In [ ]:
df[df['cut'].isin(cut_type)]

### Mergeing:

1. inner
2. outer
3. left
4. right

In [ ]:
df1 = pd.DataFrame({"branch":['hyd','blr','vizag','pune'],
                   "total":[90,96,98,92]})
df1

In [ ]:
df2 = pd.DataFrame({"branch":['blr','hyd','vizag','chennai'],
                   "distance_from_city":[40,60,12,20]})
df2

In [ ]:
pd.merge(df1,df2,on="branch",how='inner')

In [ ]:
pd.merge(df1,df2,on="branch")

In [ ]:
pd.merge(df1,df2,on="branch",how='outer')

In [ ]:
pd.merge(df1,df2,on="branch",how='left')

In [ ]:
pd.merge(df1,df2,on="branch",how='right')

In [ ]:
pd.merge(df1,df2,on="branch",how='left',indicator=True)

### Concatenating Dataframes:

In [ ]:
df1 = pd.DataFrame({'Name': ['Aman', 'Joy', 'Rashmi', 'Saif'],
                    'Age': ['34', '31', '22', '33'],
                    'Gender': ['M', 'M', 'F', 'M']}
                  )
df2 = pd.DataFrame({'Name': ['Akhil', 'Asha', 'Preeti'],
                    'Age': ['31', '22', '23'],
                    'Gender': ['M', 'F', 'F']}
                  )

In [ ]:
#Row concatenation
pd.concat([df1,df2],axis=0)

In [ ]:
df1.append(df2)

In [ ]:
#column concatenation
df3 = pd.DataFrame({"address":["hyd","adb","pune","vizag"],"Grade":['A','B','C','D']})
df3

In [ ]:
df1

In [ ]:
pd.concat([df1,df3],axis=1)

### Simple Arithmetic operations on two or more dataframes:

In [ ]:
1. add() : +
2. sub() : -
3. mul() : *
4. div() : /
5. floordiv() : //
6. mod() : %
7. pow() : **

In [ ]:
IPL_2018 = pd.DataFrame({'IPL Team': ['CSK', 'SRH', 'KKR', 'RR', 'MI', 'RCB', 'KXIP', 'DD'],
                         'Matches Played': [16, 17, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [11, 10, 9, 7, 6, 6, 6, 5]}
                       )
# Set the 'IPL Team' column as the index to perform arithmetic operations on the other rows using the team as reference
IPL_2018.set_index('IPL Team', inplace = True)
IPL_2018

In [ ]:
IPL_2017 = pd.DataFrame({'IPL Team': ['MI', 'RPS', 'KKR', 'SRH', 'KXIP', 'DD', 'GL', 'RCB'],
                         'Matches Played': [17, 16, 16, 15, 14, 14, 14, 14],
                         'Matches Won': [12, 10, 9, 8, 7, 6, 4, 3]}
                       )
IPL_2017.set_index('IPL Team', inplace = True)
IPL_2017

In [ ]:
Total = IPL_2018 + IPL_2017
Total

In [ ]:
Total = IPL_2018.add(IPL_2017,fill_value=0)
Total

### groupby() :

In [ ]:
1. split
2. apply
3. combine

In [ ]:
data = {"name":['a','b','c','d','e','f'],
       "branch":['hyd','vizag','blr','hyd','vizag','blr'],
       "marks":[90,91,92,93,94,95]}
df = pd.DataFrame(data)
df

In [ ]:
g = df.groupby("branch")
g

In [ ]:
for branch,branch_df in g:
    print(branch)
    print(branch_df)

In [ ]:
g.get_group('hyd')["marks"].sum()

In [ ]:
g.get_group('hyd')["marks"].mean()

In [ ]:
g.mean()

In [ ]:
g.describe()

### Pivot table:sure

In [ ]:
df = pd.DataFrame({"A": ["foo", "foo", "foo", "foo", "foo",
                         "bar", "bar", "bar", "bar"],
                   "B": ["one", "one", "one", "two", "two",
                         "one", "one", "two", "two"],
                   "C": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "D": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "E": [2, 4, 5, 5, 6, 6, 8, 9, 9]})
df